@model BuyFood_Template.ViewModels.MemberCenterViewModel;
@{
    ViewData["Title"] = "MemberCenter";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
        .hiddenRow {
            padding: 0 !important;
        }

        .cwc_reminder {
            height: 20px;
            width: 20px;
            background: #7fad39;
            font-size: 10px;
            color: #ffffff;
            line-height: 20px;
            text-align: center;
            font-weight: 700;
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            top: 7px;
            right: 110px;
        }


        .inline {
            display: inline;
        }
        .inlinrB {
            display: inline-block;
        }

        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black; /* 悬停元素上显示点线 */
        }

            /* Tooltip 文本 */
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                /* 定位 */
                position: absolute;
                z-index: 1;
            }

            /* 鼠标移动上去后显示提示框 */
            .tooltip:hover .tooltiptext {
                visibility: visible;
            }
    </style>

</head>

<body>
    @*Page Preloder*@
    @*<div id="preloder">
            <div class="loader"></div>
        </div>*@
    <div style="width:100%; height :800px;transition:all 1s;text-align:center">
        <div id="cwc_i_div_body" style="width:350px;height:inherit;transition:all 1s;display:inline-block">

            <div class="container" style=" width: 350px; height: 650px; background-color: #F3F6FA; margin-top: 50px; float: left; transition: all .5s">

                <div id="cwc_div_ProfilePhoto" class="row justify-content-center" style="width:inherit; padding-right:0px">
                    <img id="cwc_img_ProfilePhoto" style="border-radius: 50%;width:200px;height:200px;margin-top:20px;margin-bottom:10px" src="@ViewBag.userPhoto" alt="圓形圖" />
                </div>
                <div class="row" style="width:inherit;margin-bottom:5px;position:relative;">
                    <input type="file" id="cwc_input_uploadProfilePhoto" onchange="cwc_changeProfilePhoto(@Model.CMemberId)" style="display:none" />
                    <button id="cwc_button_ReviseProfilePhoto" onclick="cwc_input_uploadProfilePhoto.click()" class="inline btn btn-success" style="width:30px;height:30px;padding:0px;position:absolute;bottom:32px;right:2px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                        </svg>
                    </button>
                    <button id="cwc_button_ReviseProfile" onclick="cwc_showReviseProfile(@Model.CMemberId)" class="inline btn btn-success" style="width:30px;height:30px;padding:0px;position:absolute;bottom:0px;right:2px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>
                    </button>
                    <span id="cwc_span_ProfileName">@Model.CName</span>
                </div>
                <div class="row" style="width:inherit;">
                    <div class="list-group" style="width:inherit;padding-right:0px;">
                        <div class="list-group-item" style="text-align:left;">
                            <div class="col inline" style="width:30%; text-align:left;">餘額 :</div>
                            <div class="col inline" style="width:60%; text-align:center">@Model.CDeposit</div>
                            <div class="col inline btn btn-success cwc_c_btn_showRight" style="width:auto;" onclick="cwc_showWallet(@Model.CMemberId)">儲值</div>
                        </div>
                        <div class="list-group-item" style="text-align:left;">
                            <div class="col inline" style="width:30%; text-align:left">信箱 :</div>
                            <div class="col inline" style="width:auto; text-align:center;">@Model.CEmail</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="width:inherit; ">
                    <div class="list-group" style="width: inherit; padding-right: 0px;">
                        <button id="cwc_MyCombo" class="list-group-item list-group-item-action cwc_c_btn_showRight" onclick="cwc_showCombo(@Model.CMemberId)">我的套餐</button>
                        <button id="cwc_Coupon" class="list-group-item list-group-item-action cwc_c_btn_showRight" onclick="cwc_showCoupon(@Model.CMemberId)">優惠券</button>
                        <button id="cwc_Review" class="list-group-item list-group-item-action cwc_c_btn_showRight" onclick="cwc_showReport(@Model.CMemberId)">個人消費報表檢視</button>
                        <button id="cwc_QRcode" class="list-group-item list-group-item-action cwc_c_btn_showRight" onclick="cwc_showQRcode(@Model.CMemberId)">邀請好友</button>
                        <button id="cwc_changePassword" class="list-group-item list-group-item-action cwc_c_btn_showRight" onclick="cwc_changePassword(@Model.CMemberId)">修改密碼</button>
                        <button id="cwc_logout" class="list-group-item list-group-item-action" style="display:inline;" onclick="cwc_logout()">登出</button>
                        <button id="cwc_logout" class="list-group-item list-group-item-action" style="display:inline;" onclick="test()">測試</button>

                    </div>
                </div>
            </div>

            <div id="head_cwc" class="cwc_c_div_show" style="width: 0; height: 50px; overflow: hidden; transition: all .5s;position:relative">

            </div>
            <div id="content_cwc" class="cwc_c_div_show" style="width: 0;height: 650px; overflow: hidden;padding:20px; transition: all .5s">

            </div>
        </div>
    </div>
    <script>
        $(".cwc_c_btn_showRight").click(
            function () {
                $("#cwc_i_div_body").css("width", "100%");
                $(".cwc_c_div_show").css("width", "auto");
            });
    </script>

    <script type="text/javascript" src="~/cwc/cwc_Combo.js"></script>
    <script type="text/javascript" src="~/cwc/cwc_Coupon.js"></script>
    <script type="text/javascript" src="~/cwc/cwc_Deposit.js"></script>
    <script type="text/javascript" src="~/cwc/cwc_Profile.js"></script>


    <script>
        function test() {
            window.location.href = "/Member/test"
        }
        function updateData(memberID) {
            $.ajax({
                url: `/Member/updateMemberCenter?id=${memberID}`,
                success: function (data) {
                    var count = 0;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].issueItem > 0) count++;
                    }
                    var result = count > 9 ? `9+` : `${count}`
                    var txt = count > 0 ? `我的套餐<span id="cwc_span_reminder" class="cwc_reminder">${result}</span>` : `我的套餐`;
                    var size = count > 9 ? 9 : 17
                    $(".cwc_reminder").css("font-size", `${size}`);
                    $("#cwc_MyCombo").html(txt);
                }
            })
        }

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }


        function cwc_logout() {
            $.ajax({
                url: "/Member/logout",
                success: function (data) {
                    window.location.href = "/HomePage/Home"
                }
            })
        }

        function cwc_showQRcode(memberID) {
            $.ajax({
                url: `/Member/QRcode?id=${memberID}`,
                success: function (data) {
                    $("#head_cwc").html("");
                    var content = `<div>` + data[0] + `</div>` +
                        `<div>
                                <span>邀請連結 :</span><span>${data[1]}</span>
                                <div type="button" class="btn btn-outline-dark btn-sm" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                </svg></div></div>
                              <img src="http://www.funcode-tech.com/Encoder_Service/img.aspx?custid=1&username=public&codetype=QR&EClevel=0&data=${data[1]}" width="300"/>`
                    $("#content_cwc").html(content);
                }
            })
        }
    </script>
    

</body>

</html>
<script>
    updateData(@Model.CMemberId);
</script>
