@model BuyFood_Template.ViewModels.MemberCenterViewModel;
@{
    ViewData["Title"] = "MemberCenter";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
        .hiddenRow {
            padding: 0 !important;
        }

        .cwc_reminder {
            height: 20px;
            width: 20px;
            background: #7fad39;
            font-size: 10px;
            color: #ffffff;
            line-height: 20px;
            text-align: center;
            font-weight: 700;
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            top: 7px;
            right: 110px;
        }


        .inline {
            display: inline;
        }
        .inlinrB {
            display: inline-block;
        }
    </style>

</head>

<body>
    @*Page Preloder*@
    @*<div id="preloder">
            <div class="loader"></div>
        </div>*@
    <div style="width:100%; height :800px;transition:all 1s;text-align:center">
        <div id="cwc_i_div_body" style="width:350px;height:inherit;transition:all 1s;display:inline-block">

            <div class="container" style=" width: 350px; height: 650px; background-color: #F3F6FA; margin-top: 50px; float: left; transition: all .5s">

                <div id="cwc_div_ProfilePhoto" class="row justify-content-center" style="width:inherit; padding-right:0px">
                    <img id="cwc_img_ProfilePhoto" style="border-radius: 50%;width:200px;height:200px;margin-top:20px;margin-bottom:10px" src="~/img/hero/30581778_2162740227072882_842558015222579200_o.jpg" alt="圓形圖" />
                </div>
                <div class="row" style="width:inherit;margin-bottom:5px;position:relative;">
                    <input type="file" id="cwc_input_uploadProfilePhoto" onchange="cwc_changeProfilePhoto(@ViewBag.memberID)" style="display:none" />
                    <button id="cwc_button_ReviseProfilePhoto" onclick="cwc_input_uploadProfilePhoto.click()" class="inline btn btn-success" style="width:30px;height:30px;padding:0px;position:absolute;bottom:32px;right:2px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                        </svg>
                    </button>
                    <button id="cwc_button_ReviseProfile" onclick="cwc_showReviseProfile(@ViewBag.memberID)" class="inline btn btn-success" style="width:30px;height:30px;padding:0px;position:absolute;bottom:0px;right:2px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>
                    </button>
                    <span id="cwc_span_ProfileName">@Model.CName</span>
                </div>
                <div class="row" style="width:inherit;">
                    <div class="list-group" style="width:inherit;padding-right:0px;">
                        <div class="list-group-item" style="text-align:left;">
                            <div class="col inline" style="width:30%; text-align:left;">餘額 :</div>
                            <div class="col inline" style="width:60%; text-align:center">@Model.CDeposit</div>
                            <div class="col inline btn btn-success cwc_c_btn_showRight" style="width:auto;" onclick="cwc_showWallet(@ViewBag.memberID)">儲值</div>
                        </div>
                        <div class="list-group-item" style="text-align:left;">
                            <div class="col inline" style="width:30%; text-align:left">信箱 :</div>
                            <div class="col inline" style="width:auto; text-align:center;">@Model.CEmail</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="width:inherit; ">
                    <div class="list-group" style="width: inherit; padding-right: 0px;">
                        <button id="cwc_MyCombo" class="list-group-item list-group-item-action cwc_c_btn_showRight" onclick="cwc_showCombo(@ViewBag.memberID)">我的套餐</button>
                        <button id="cwc_Coupon" class="list-group-item list-group-item-action cwc_c_btn_showRight" onclick="cwc_showCoupon(@ViewBag.memberID)">優惠券</button>
                        <button id="cwc_Review" class="list-group-item list-group-item-action cwc_c_btn_showRight" onclick="cwc_showReport(@ViewBag.memberID)">個人消費報表檢視</button>
                        <button id="cwc_QRcode" class="list-group-item list-group-item-action cwc_c_btn_showRight" onclick="cwc_showQRcode(@ViewBag.memberID)">邀請好友</button>
                        <button id="cwc_changePassword" class="list-group-item list-group-item-action cwc_c_btn_showRight" onclick="cwc_changePassword(@ViewBag.memberID)">修改密碼</button>
                        <button id="cwc_logout" class="list-group-item list-group-item-action" style="display:inline;" onclick="cwc_logout()">登出</button>
                        <button id="cwc_logout" class="list-group-item list-group-item-action" style="display:inline;" onclick="test()">測試</button>

                    </div>
                </div>
            </div>

            <div id="head_cwc" class="cwc_c_div_show" style="width: 0; height: 50px; overflow: hidden; transition: all .5s">

            </div>
            <div id="content_cwc" class="cwc_c_div_show" style="width: 0;height: 650px; overflow: hidden;padding:20px; transition: all .5s">

            </div>
        </div>
    </div>
    <script>


        $(".cwc_c_btn_showRight").click(
            function () {
                $("#cwc_i_div_body").css("width", "100%");
                $(".cwc_c_div_show").css("width", "auto");
            });



    </script>

    <script type="text/javascript" src="~/cwc/cwc_Combo.js"></script>

    <script>
        function test() {
            window.location.href="/Member/test"
        }
        function updateData(memberID) {
            $.ajax({
                url: `/Member/updateMemberCenter?id=${memberID}`,
                success: function (data) {
                    var count = 0;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].issueItem > 0) count++;
                    }
                    var result = count >9? `9+`:`${count}`
                    var txt = count > 0 ? `我的套餐<span id="cwc_span_reminder" class="cwc_reminder">${result}</span>` : `我的套餐`;
                    var size = count >9? 9:17
                    $(".cwc_reminder").css("font-size", `${size}`);
                    $("#cwc_MyCombo").html(txt);
                }
            })
        }

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
        @{ #region for Profile revise }
        //for Profile done
        function cwc_showReviseProfile(memberID) {
            var memberName = $("#cwc_span_ProfileName").html();
            var txt = `<input id="cwc_input_ProfileName" type="text" value="${escapeHtml(memberName)}" onblur="cwc_saveReviseProfile(${memberID})" style="padding-bottom:0px"/>`
            $("#cwc_span_ProfileName").html(txt);
            $("#cwc_button_ReviseProfile").attr("onclick", "");
            $("#cwc_input_ProfileName").focus();
        }

        //done
        function cwc_saveReviseProfile(memberID) {
            var newName = $("#cwc_input_ProfileName").val();

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/Member/saveProfile",
                data: JSON.stringify({ "@Model.Member.CName": `${newName}`, "@Model.Member.CMemberId": memberID }),
                dataType:"json",
                success: function (data) {
                    $("#cwc_span_ProfileName").html(data.@Model.Member.tName );
                    $("#cwc_button_ReviseProfile").attr("onclick", `cwc_showReviseProfile(${memberID})`);
                }
            })
        }
        @{ #endregion} //done
        @{ #region for change Profile Photo}
        function cwc_changeProfilePhoto(memberID) {
            console.log("OK")


        }
        @{ #endregion}
        @{ #region for Wallet}
        function cwc_showWallet(memberID) {
            var txt =
                `<ul class="nav nav-pills mb-3 justify-content-center"
                        id="pills-tab"
                        role="tablist">
                        <li class="nav-item"
                                role="presentation">
                                <button class="nav-link active"
                                                id="pills-wallet-tab"
                                                data-bs-toggle="pill"
                                                data-bs-target="#pills-wallet"
                                                type="button"
                                                role="tab"
                                                aria-controls="pills-wallet"
                                                aria-selected="true">
                                儲值
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                                id="pills-DepositRecord-tab"
                                                data-bs-toggle="pill"
                                                data-bs-target="#pills-DepositRecord"
                                                type="button"
                                                role="tab"
                                                aria-controls="pills-DepositRecord"
                                                aria-selected="false"
                                                onclick="cwc_showDeposits(${memberID})">
                                儲值紀錄
                                </button>
                            </li>
                    </ul>`;
        var txtBottom=`<div class="tab-content" id="pills-tabContent">
            <div style="height:700px" class="tab-pane fade show active" id="pills-wallet" role="tabpanel" aria-labelledby="pills-wallet-tab">
                <div>
                    <div  style="display: inline-block; width:40%; height:250px; margin:10px">
                        <P style="font-size: 30px;height:100px; line-height:100px">儲值擺腹幣500</P>
                        <button class="btn btn-success" onclick="cwc_deposit(${memberID},1)">加值
                     </div>
                     <div  style="display: inline-block; width:40%; height:250px; margin:10px">
                        <P style="font-size: 30px; height:50px; line-height:50px">儲值擺腹幣1000</P>
                        <P style="font-size: 30px; height:50px; line-height:50px">送50折價券</P>
                        <button class="btn btn-success" onclick="cwc_deposit(${memberID},2)">加值
                    </div>
                </div>
                <div>
                    <div style="display: inline-block; width:40%; height:250px; margin:10px">
                        <P style="font-size: 30px; height:50px; line-height:50px">儲值擺腹幣2000</P>
                        <P style="font-size: 30px; height:50px; line-height:50px">送200折價券</P>
                         <button class="btn btn-success" onclick="cwc_deposit(${memberID},3)">加值
                    </div>
                    <div  style="display: inline-block; width:40%; height:250px; margin:10px">
                        <P style="font-size: 30px; height:50px; line-height:50px">儲值擺腹幣5000</P>
                        <P style="font-size: 30px; height:50px; line-height:50px">送500折價券</P>
                        <button class="btn btn-success" onclick="cwc_deposit(${memberID},4)">加值
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-DepositRecord" role="tabpanel" aria-labelledby="pills-DepositRecord-tab"></div>
        </div>`;
            $("#head_cwc").html(txt);
            $("#content_cwc").html(txtBottom);
        }


        function cwc_showDeposits(memberID) {
            $.ajax({
                url: "/Deposits/getDeposits?id=" + memberID,
                type: "GET",
                success: function (data) {
                    var start =
                        `<table class="table"><thead><tr><td>儲值時間</td><td>儲值金額</td></tr></thead><tbody>`;
                    var end =
                        `</tbody></table>`;
                    var content = "";
                    for (var i = 0; i < data.length; i++) {
                        console.log(data);
                        content += `<tr><td>${data[i].depositTime}<td>${data[i].depositAmount}`;
                    };
                    var txt = start + content + end;

                    $("#pills-DepositRecord").html(txt);

                }
            })
        }
        function cwc_deposit(memberID, set) {
            $.ajax({
                url: `/Deposits/buildOrderDeposit?id=${memberID}&&set=${set}`,
                success: function (data) {
                    console.log(data);
                    if (data.totalAmount != 0) {
                        var txt = `<form style="display:none" id="formCreditCard" method="post" accept-charset="UTF-8"
                      action="https://payment-stage.opay.tw/Cashier/AioCheckOut/V5">

                    <input type="text" name="MerchantID" value="${data.merchantID}" /><br />
                    <input type="text" name="MerchantTradeNo" value="${data.merchantTradeNo}" /><br />
                    <input type="text" name="MerchantTradeDate" value="${data.merchantTradeDate}" /><br />
                    <input type="text" name="PaymentType" value="aio" /><br />
                    <input type="text" name="TotalAmount" value="${data.totalAmount}" /><br />
                    <input type="text" name="TradeDesc" value="建立信用卡測試訂單" /><br />
                    <input type="text" name="ItemName" value="${data.itemName}" /><br />
                    <input type="text" name="ReturnURL" value="${data.returnURL}" /><br />
                    <input type="text" name="ChoosePayment" value="Credit" /><br />
                    <input type="text" name="StoreID" value="${memberID}" /><br />
                    <input type="text" name="ClientBackURL" value="${data.clientBackURL}" /><br />
                    <input type="text" name="CreditInstallment" value="" /><br />
                    <input type="text" name="InstallmentAmount" value="" /><br />
                    <input type="text" name="Redeem" value="" /><br />
                    <input type="text" name="EncryptType" value="1" /><br />
                    <input type="text" name="CheckMacValue" value="${data.checkMacValue}" /><br />
                    <input type="submit" id="submit"  value="送出訂單" />
                </form>`
                        $("#content_cwc").append(txt);
                        $("#submit").click();
                    }
                    else console.log("fail");
                }
            });
        }

        @{ #endregion}
        @{ #region for Coupon}
        function cwc_showCoupon(memberID) {
            var txt =
                `<ul class="nav nav-pills mb-3 justify-content-center"
                        id="pills-tab"
                        role="tablist">
                        <li class="nav-item"
                                role="presentation">
                                <button class="nav-link active"
                                                id="pills-unuse-tab"
                                                data-bs-toggle="pill"
                                                data-bs-target="#pills-unuse"
                                                type="button"
                                                role="tab"
                                                aria-controls="pills-unuse"
                                                aria-selected="true"
                                                onclick="cwc_showCoupons(${memberID},0)">
                                未使用
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                                id="pills-used-tab"
                                               data-bs-toggle="pill"
                                                data-bs-target="#pills-used"
                                                type="button"
                                                role="tab"
                                                aria-controls="pills-used"
                                                aria-selected="false"
                                                onclick="cwc_showCoupons(${memberID},1)">
                                已使用
                                </button>
                            </li>
                    </ul>`;
        var txtBottom = `<div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-unuse" role="tabpanel" aria-labelledby="pills-unuse-tab"></div>
            <div class="tab-pane fade" id="pills-used" role="tabpanel" aria-labelledby="pills-used-tab"></div>
        </div>`;
            $("#head_cwc").html(txt);
            $("#content_cwc").html(txtBottom);
            cwc_showCoupons(memberID,0);
        }
        function cwc_showCoupons(memberID,used) {
            $.ajax({
                url: `/Coupon/getCoupons?id=${memberID}&used=${used}`,
                type: "GET",
                success: function (data) {
                    var start =
                        `<table class="table"><thead>
                            <tr><td>優惠券名稱</td>
                                    <td>領取日</td>
                                    <td>到期日</td></tr></thead><tbody>`;
                    var end =
                        `</tbody></table>`;
                    var content = "";
                    for (var i = 0; i < data.length; i++) {
                        content += `<tr><td>${data[i].categoryName} <td>${data[i].rdate}<td>${data[i].edate}`;
                    };
                    var txt = start + content + end;

                    if (used == 0)
                        $("#pills-unuse").html(txt);
                    else $("#pills-used").html(txt);
                }
            })

        }
        @{ #endregion}
        function cwc_logout() {
            $.ajax({
                url: "/Member/logout",
                success: function (data) {
                    window.location.href="/HomePage/Home"
                }
            })
        }

        function cwc_showQRcode(memberID) {
            $.ajax({
                url: `/Member/QRcode?id=${memberID}`,
                success: function (data) {
                    console.log(data);
                    $("#head_cwc").html(data[0]);
                    var content = `<p>邀請連結 :${data[1]}</p>
                                                <img src="http://www.funcode-tech.com/Encoder_Service/img.aspx?custid=1&username=public&codetype=QR&EClevel=0&data=${data[1]}" width="300"/>`
                    $("#content_cwc").html(content);
                }
            })
        }
    </script>


</body>

</html>
<script>
    updateData(@ViewBag.memberID);
</script>
