<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  BuyFood 餐廚空間</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/chatRoom.css" type="text/css">
    <link rel="stylesheet" href="~/css/yao/shopping-cart-Yao.css" type="text/css" />
</head>
<body>

    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a asp-controller="ShoppingCart" asp-action="CurrentCartItem"><i class="fa fa-shopping-bag"></i> @*<span>3</span>*@</a></li>
            </ul>
            <div class="header__cart__price">item: <span id="ItemMoneyTop">$0</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="~/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a asp-controller="HomePage" asp-action="登入"><i class="fa fa-user"></i> 登入</a>
            </div>

        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> BuyFood@buyfood.com</li>
                <li>持邀請碼註冊 就送$100折價券</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> BuyFood@buyfood.com</li>
                                <li>持邀請碼註冊 就送$100折價券</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            @*<div class="header__top__right__language">
            <img src="~/img/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Spanis</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>*@

                            @{
                                string UserLoginNameForPage = "";
                                if (!string.IsNullOrEmpty(ViewBag.USERNAME))
                                {
                                    UserLoginNameForPage = ViewBag.USERNAME;
                                }
                                else
                                {
                                    UserLoginNameForPage = "Login";
                                }

                                string UserLoginImgForPage = "";
                                if (!string.IsNullOrEmpty(ViewBag.USERPHOTO))
                                {
                                    UserLoginImgForPage = ViewBag.USERPHOTO;
                                }
                                else
                                {
                                    UserLoginImgForPage = "/MemberPhoto/無人頭.jpg";
                                }
                            }
                            <div class="header__top__right__auth" id="divUserImg">
                                <img src="@UserLoginImgForPage" width="20" height="20" />
                            </div>
                            <div class="header__top__right__auth" id="divLogin">
                                @*<a asp-controller="HomePage" asp-action="登入" id="getLoginName"><i class="fa fa-user"></i>@UserLoginNameForPage</a>*@
                            </div>
                            <div class="header__top__right__auth" id="divLogOut"></div>
                            <div class="header__top__right__auth" style="margin-left:2px;">
                                <a asp-controller="Home" asp-action="Index"><i class="fa fa-user"></i> 後台管理</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-controller="HomePage" asp-action="Home"><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-controller="HomePage" asp-action="Home">首頁</a></li>
                            @*<li><a asp-controller="ViewProduct" asp-action="ShowProduct">餐點美食</a></li>*@
                            <li>
                                <a asp-controller="ShoppingCart" asp-action="CurrentCartItem">購物車</a>
                                <!--<ul class="header__menu__dropdown">-->
                                @*<li><a asp-controller="ProductDetail" asp-action="ProductData">商品詳細資訊</a></li>*@
                                <!--<li><a asp-controller="ShoppingCart" asp-action="CurrentCartItem">購物車明細</a></li>
            <li><a asp-controller="CheckCart" asp-action="OrderData">送出訂單</a></li>
            <li><a asp-controller="ActivityDetail" asp-action="ShowActivityDetail">活動詳細說明</a></li>
        </ul>-->
                            </li>
                            <li><a asp-controller="Activity" asp-action="ShowActivity">活動一覽</a></li>
                            <li><a href="javascript:void(0)" id="cwc_home_btn_memberCenter">會員中心</a></li>
                            <li><a asp-controller="Order" asp-action="SearchOrder">訂單查詢</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a asp-controller="ShoppingCart" asp-action="CurrentCartItem"><i class="fa fa-shopping-bag"></i> @*<span>3</span>*@</a></li>
                        </ul>
                        <div class="header__cart__price">item: <span id="itemMoney">$0</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>地址: 106台北市大安區復興南路一段390號2樓</li>
                            <li>手機: 0983622454</li>
                            <li>Email: BuyFood@buyfood.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>相關連結</h6>
                        <ul>
                            <li><a href="#">關於我們</a></li>
                            <li><a href="#">關於我們的商店</a></li>
                            <li><a href="#">運送資訊</a></li>
                            <li><a href="#">隱私規定</a></li>
                            <li><a href="#">我們的位置</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">我們是誰</a></li>
                            <li><a href="#">我們的服務</a></li>
                            <li><a href="#">相關企劃</a></li>
                            <li><a href="#">聯絡資訊</a></li>
                            <li><a href="#">創新</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>訂閱電報</h6>
                        <p>隨時都能收取最新優惠資訊</p>
                        <form action="#">
                            <input type="text" placeholder="輸入Email">
                            <button type="submit" class="site-btn">訂閱</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            &copy; 2021 - BuyFood_Template - <a asp-area="" asp-controller="HomePage" asp-action="Home">首頁</a>
        </div>

    </footer>
    <!-- Footer Section End -->
    <div class="round hollow  fixed-bottom    end-0" style="width:50%">
        <a id="addClass"><button class="open-btn"><i class="fa fa-whatsapp" aria-hidden="true"> </i>聯絡客服</button></a>
    </div>
    @*聊天室窗*@

<aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar" style="background-color:gray;z-index:50">

    <div class="popup-head">
        <div class="popup-head-left pull-left">
            <a Design and Developmenta title="Gurdeep Osahan (Web Designer)" target="_blank">
                <img class="md-user-image" alt="管理員" title="管理員" src="~/img/adrChatRoom/adm2.jpg" title="管理員" alt="管理員">
                <h1>客服聯絡視窗</h1><small><br> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>BuyFood管理員</small>
            </a>
        </div>
        <div class="popup-head-right pull-right">
            <div class="btn-group gurdeepoushan">
                <ul role="menu" class="dropdown-menu pull-right">
                    <li><a href="#"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Gallery</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Photo</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Video</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Audio</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact</a></li>
                </ul>
            </div>

            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" style="background-color:white;" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </div>
    </div>

    @*聊天室開始標籤*@
    <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
        <div class="chat_box touchscroll chat_box_colors_a" id="chatStartPoint">

            <!--<div class="chat_message_wrapper">-->
            @*左邊客服*@
            <!--<div class="chat_user_avatar">
                <a target="_blank">
                    <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="~/img/adrChatRoom/adm2.jpg" class="md-user-image">
                </a>
            </div>
            <ul class="chat_message">-->
            @*訊息List*@
            <!--<li>
                        <p> 歡迎光臨！ </p>
                    </li>
                    <li>
                        <p> 請問能幫您什麼呢？<span class="chat_message_time">13:38</span> </p>
                    </li>
                </ul>
            </div>-->
            @*左邊客服結束*@

            @*右邊顧客開始*@
            <!--<div class="chat_message_wrapper chat_message_right">
                <div class="chat_user_avatar">
                    <a target="_blank">
                        <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="~/img/adrChatRoom/Customer_Icon.jpg" class="md-user-image">
                    </a>
                </div>
                <ul class="chat_message" >
                    <li>
                        <p>
                            我想買一杯奶茶，請問這樣多少？
                            <span class="chat_message_time">13:34</span>
                        </p>
                    </li>
                </ul>
            </div>-->
            @*右邊顧客結束*@


            @*<div class="chat_message_wrapper">
                    <div class="chat_user_avatar">
                        <a target="_blank">
                            <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="~/img/adrChatRoom/adm2.jpg" class="md-user-image">
                        </a>
                    </div>
                    <ul class="chat_message">
                        <li>
                            <p>
                                如果是普通的珍珠奶茶，定價是$55元哦！
                                <span class="chat_message_time">23 Jun 1:10am</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="chat_message_wrapper chat_message_right">
                    <div class="chat_user_avatar">
                        <a target="_blank">
                            <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="~/img/adrChatRoom/Customer_Icon.jpg" class="md-user-image">
                        </a>
                    </div>
                    <ul class="chat_message">
                        <li>
                            <p> 好的。 </p>
                        </li>
                        <li>
                            <p>
                                謝謝你的回覆。
                                <span class="chat_message_time">Friday 13:34</span>
                            </p>
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>@*聊天室內容*@



    <div class="chat_submit_box">
        <div class="uk-input-group">
            <div class="gurdeep-chat-box">
                <span style="vertical-align: sub;" class="uk-input-group-addon">
                    <a><i class="fa fa-smile-o"></i></a>
                </span>
                <input type="text" placeholder="請輸入訊息" id="messageInput" name="submit_message" class="md-input">
                <input type="button" class="btn btn-light" id="sendButton" style="padding:0;height:100%" value="送出" />
            </div>
            <span class="uk-input-group-addon">
                <a><i class="glyphicon glyphicon-send"></i></a>
            </span>
        </div>
    </div>
    <script src="~/js/chatsBefore.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @*聊天室窗結束*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/cwc/homepage.js"></script>


    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#addClass").click(function () {
                $('#sidebar_secondary').addClass('popup-box-on');
            });

            $("#removeClass").click(function () {
                $('#sidebar_secondary').removeClass('popup-box-on');
            });
        })
    </script>
    <script>
        setInterval(function () {
            let pdtcart_obj = JSON.parse(localStorage.getItem("cart"));
            let price = 0;
            if (pdtcart_obj.length == 0) {
                $("#ItemMoneyTop").html('$' + price);
                $("#itemMoney").html('$' + price);
            }
            for (let i = 0; i < pdtcart_obj.length; i++) {
                price += (pdtcart_obj[i].cPrice * pdtcart_obj[i].QuantityInCart);
            }
            $("#ItemMoneyTop").html('$' + price);
            $("#itemMoney").html('$' + price);
            /*  console.log(price);*/
        }, 500);

    </script>

    <script>
        $.ajax({
            url: "/HomePage/BCheckLogin",
            type: "POST",
            success: function (data) {
                if (data == true) {
                    @*var aa = "@UserLoginImgForPage";
                    aa.replace('~', '');
                    console.log(aa);
                    UserImg = `<img width="20" height="20" src="${aa}" alt="">`*@

                        @*var thispicForMember = @UserLoginImgForPage;
                    console.log(thispicForMember)
                    console.log(thispicForMember.replace('~', ''))
                 //var UserImg=`<img width="20" height="20" src="${thispicForMember.replace('~', '')}" alt="">`;
                 UserImg = `<img src="${thispicForMember.replace('~', '')}" width="20" height="20"/>`;*@
                    text = `<a href="/Member/MemberCenter" id="getLoginName"><i class="fa fa-user"></i>@UserLoginNameForPage</a>`
                    LogOutTxt = `<input type="button" class="btn btn-light"  onclick="登出();" id="sendButton" style="padding:0;height:100%" value="登出" />`
                    //$("divUserImg").html(UserImg);
                    $("#divLogin").html(text1234);
                    $("#divLogOut").html(LogOutTxt);
                }
                else {
                    text = `<a href="/HomePage/登入" id="getLoginName "><i class="fa fa-user"></i>@UserLoginNameForPage</a>`

                    //$("divUserImg").html();
                    $("#divLogin").html(text1234);
                    $("#divLogOut").html();
                }
            }
        });
    </script>
    <script>
        function 登出() {
            
            $.ajax({
                url: "/HomePage/SLogout",
                type: "POST",
                success: function (data) {
                    window.alert(data);
                    window.location.assign("https://localhost:44398/");
                }
            })
        }
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
