@using Microsoft.AspNetCore.Http
@using BuyFood_Template.Controllers
<!DOCTYPE html>
<html lang="en">
<style>
    /* Style The Dropdown Button */
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  BuyFood 餐廚空間</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />



    <!-- Css Styles -->


    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/yao/shopping-cart-Yao.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/css/chatRoom.css">
</head>
<body>



    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a asp-controller="ShoppingCart" asp-action="CurrentCartItem"><i class="fa fa-shopping-bag"></i> @*<span>3</span>*@</a></li>
            </ul>
            <div class="header__cart__price">item: <span id="ItemMoneyTop">$0</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="~/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a asp-controller="HomePage" asp-action="登入"><i class="fa fa-user"></i> 登入</a>
            </div>
            @{ var userID = Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERID);}
            <input type="text" id="user_member" style="display:none" value="@userID" />
            @{ var UserPictureForMessage = Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERPHOTO);}
            <input type="text" id="user_foto" style="display:none" value="@UserPictureForMessage" />
            @{ var adrUserNameForMessageSend = Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERNAME);}
            <input type="text" id="adrLoginNameNow" style="display:none" value="@adrUserNameForMessageSend" />
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> BuyFood@buyfood.com</li>
                <li>持邀請碼註冊 就送$100折價券</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> BuyFood@buyfood.com</li>
                                <li>持邀請碼註冊 就送$100折價券</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>

                            @{
                                string UserLoginNameForPage = "";
                                if (!string.IsNullOrEmpty(ViewBag.USERNAME))
                                {
                                    UserLoginNameForPage = ViewBag.USERNAME;
                                }
                                else
                                {
                                    UserLoginNameForPage = "Login";
                                }

                                string UserLoginImgForPage = "";
                                if (!string.IsNullOrEmpty(ViewBag.USERPHOTO))
                                {
                                    UserLoginImgForPage = ViewBag.USERPHOTO;
                                }
                                else
                                {
                                    UserLoginImgForPage = "/MemberPhoto/無人頭.jpg";
                                }
                            }
                            <div class="header__top__right__auth" id="divUserImg">
                                <img id="cwc_loginPhoto" src="@UserLoginImgForPage" width="20" height="20" />
                            </div>
                            <div class="header__top__right__auth" id="divLogin">
                                @*<a asp-controller="HomePage" asp-action="登入" id="getLoginName"><i class="fa fa-user"></i>@UserLoginNameForPage</a>*@
                            </div>
                            <div class="header__top__right__auth" id="divLogOut"></div>
                            <div class="header__top__right__auth" style="margin-left:2px;" id="admOnly">
                                @*<a asp-controller="Home" asp-action="Index"><i class="fa fa-user"></i> 後台管理</a>*@
                                @*<a href="/Home/Index"><i class="fa fa-user"></i> 後台管理</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-controller="HomePage" asp-action="Home"><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-controller="HomePage" asp-action="Home">首頁</a></li>
                            <li>
                                <a asp-controller="ShoppingCart" asp-action="CurrentCartItem">購物車</a>
                            </li>
                            <li><a asp-controller="Activity" asp-action="ShowActivity">活動一覽</a></li>
                            <li><a href="javascript:void(0)" id="cwc_home_btn_memberCenter">會員中心</a></li>
                            <li><a href="javascript:void(0)" id="adr_Order_SearchOrder">訂單查詢</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li class="dropdown">
                                <a href="javascript:void(0)"  id="cwc_home_btn_memberCombo"><i class="fa fa-heart"></i> <span id="cwc_howManyCombo">0</span></a>
                                @*<div class="dropdown">
                                    <button class="dropbtn">Dropdown</button>*@
                                    <div id="cwc_div_homePageCombo" class="dropdown-content" >
                                        <label>1111</label><button>aaa</button>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div>
                                @*</div>*@
                            </li>
                            <li><a asp-controller="ShoppingCart" asp-action="CurrentCartItem"><i class="fa fa-shopping-bag"></i> <span id="wu_cartItem_count">0</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span id="itemMoney">$0</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>地址: 106台北市大安區復興南路一段390號2樓</li>
                            <li>手機: 0983622454</li>
                            <li>Email: BuyFood@buyfood.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>相關連結</h6>
                        <ul>
                            <li><a href="#">關於我們</a></li>
                            <li><a href="#">關於我們的商店</a></li>
                            <li><a href="#">運送資訊</a></li>
                            <li><a href="#">隱私規定</a></li>
                            <li><a href="#">我們的位置</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">我們是誰</a></li>
                            <li><a href="#">我們的服務</a></li>
                            <li><a href="#">相關企劃</a></li>
                            <li><a href="#">聯絡資訊</a></li>
                            <li><a href="#">創新</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>訂閱電報</h6>
                        <p>隨時都能收取最新優惠資訊</p>
                        <form action="#">
                            <input type="text" placeholder="輸入Email">
                            <button type="submit" class="site-btn">訂閱</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            &copy; 2021 - BuyFood_Template - <a asp-area="" asp-controller="HomePage" asp-action="Home">首頁</a>
        </div>

    </footer>
    <!-- Footer Section End -->
    <div class="round hollow  fixed-bottom    end-0" style="width:50%">
        <button class="open-btn" id="addClass"><i class="fa fa-whatsapp" aria-hidden="true"> </i>聯絡客服</button>
    </div>
    @*聊天室窗*@

    <aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar" style="background-color:gray;z-index:50">

        <div class="popup-head">
            <div class="popup-head-left pull-left">

                <img class="md-user-image" src="~/img/adrChatRoom/adm2.jpg">
                <h1>客服聯絡視窗</h1><small><br> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>BuyFood管理員</small>

            </div>
            <div class="popup-head-right pull-right">


                <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" style="background-color:white;" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
        </div>
        @*聊天室開始標籤*@
        <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
            <div class="chat_box touchscroll chat_box_colors_a" id="chatStartPoint">


            </div>
        </div>
        @*聊天室內容*@



        <div class="chat_submit_box" style="padding:5px;">
            <div class="uk-input-group" style="width:100%;">
                <div class="gurdeep-chat-box" style="width:100%">
                    <input type="text" placeholder="請輸入訊息" id="messageInput" name="submit_message" class="md-input" style="width:80%">
                    <button class="btn btn-light" id="sendButtonMessage" style="padding:0;height:100%;width:10%;margin-left:10px;"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </aside>






    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    @*<script src="~/js/chat.js"></script>*@
    @*聊天室窗結束*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/cwc/js/homepage.js"></script>


    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script>
        //聊天室資料


    </script>

    <script>
        //聊天室資料紀錄
        var txtadrLayoutChatRecordsForShow = "";
        let adrLayoutMemberIDForChat = parseInt($("#user_member").val());
        let adrBarRecords = $("#chat");
        $.ajax({
            url: "/adChatRoom/ListMessages/",
            type: "POST",
            data: { "ChannelID": adrLayoutMemberIDForChat },
            success: function (listChatRecords) {
                //console.log(adrLayoutMemberIDForChat);
                //console.log(listChatRecords);

                for (let i = 0; i < listChatRecords.length; i++) {
                    var fotoRecordsLayout = listChatRecords[i].cPhoto;
                    var memberNameRecords = listChatRecords[i].cMemberName;
                    var msgRecords = listChatRecords[i].cContent;
                    var whenRecords = listChatRecords[i].cMessageTime
                    var encodedMsgRecords = /*user + " says " +*/ '<p>' + msgRecords + '<span class="chat_message_time">' + whenRecords + '</span></p>';
                    var liRecords = document.createElement("li");


                    liRecords.innerHTML = encodedMsgRecords;
                    //客戶自己
                    if (listChatRecords[i].cMemberId == listChatRecords[i].cDifRoomId) {//自己發言開始  資料庫ID==目前頻道
                        if (自己連續發言旗桿 == 0) {
                            $("#chatStartPoint").append(`<div class="chat_message_wrapper chat_message_right">
                                            <div class="chat_user_avatar">
                                                    <img   src="${fotoRecordsLayout}" class="md-user-image">
                                            </div>
                                            <ul class="chat_message messagesListForClient">
                                            </ul>
                                        </div>`);

                            $("ul.messagesListForClient:eq(-1)").append(liRecords);
                            自己連續發言旗桿 = 1;
                            對方連續發言旗桿 = 0;

                            //console.log('自己第一次發言');
                        }
                        else {
                            $("ul.messagesListForClient:eq(-1)").append(liRecords);
                            對方連續發言旗桿 = 0;

                            //console.log("自己連續發言狀態");
                        }
                    }//自己發言結束
                    else //對方發言開始
                    {
                        if (對方連續發言旗桿 == 0) {

                            $("#chatStartPoint").append(`<div class="chat_message_wrapper ">
                                            <div class="chat_user_avatar">
                                                    <img   src="${fotoRecordsLayout}" class="md-user-image ">
                                            </div>
                                            <ul class="chat_message messagesListForAdmin" >
                                            </ul>
                                        </div>`);

                            $("ul.messagesListForAdmin:eq(-1)").append(liRecords);
                            對方連續發言旗桿 = 1;
                            自己連續發言旗桿 = 0;

                            //console.log("對方第一次發言");
                        }
                        else {
                            $("ul.messagesListForAdmin:eq(-1)").append(liRecords);
                            自己連續發言旗桿 = 0;

                            //console.log("對方連續發言狀態");
                        }
                    }//對方發言結束



                }
                //$("#myDiv").animate({ scrollTop: $("#myDiv")[0].scrollHeight }, 1000);
                //adrBarRecords.animate({ scrollTop: adrBarRecords.prop("scrollHeight") }, 1000);
                //adrBarRecords.animate({ scrollTop: adrBarRecords[0].scrollHeight }, 1000);
            } //success end

        });//ajax end






        //聊天室資料紀錄

        //聊天室啟動

        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        //Disable send button until connection is established
        document.getElementById("sendButtonMessage").disabled = true;
        var 自己連續發言旗桿 = 0;
        var 對方連續發言旗桿 = 0;


        // 群組訊息接收事件
        connection.on("ReceiveGroupMessage", function (groupName, username, message, adrfoto, adrMemberIDForChat) {
            //console.log("接收成功");
            //console.log(adrMemberIDForChat);
            //console.log(adrfoto);
            var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
            var when = new Date().toLocaleTimeString();
            var encodedMsg = /*user + " says " +*/ '<p>' + msg + '<span class="chat_message_time">' + when + '</span></p>';
            var li = document.createElement("li");
            li.innerHTML = encodedMsg;
            document.getElementById("messageInput").value = "";


            $.ajax({
                url: "/adChatRoom/getMessage",
                type: "POST",
                data: { MemberName: username, Content: message, MessageTime: when, "foto": adrfoto, "userID": adrMemberIDForChat },

            });

            var PictureForMessage = adrfoto;


            if (msg == '') { return; }
            //如果是自己，放右邊

            if (adrMemberIDForChat == $("#user_member").val()) {

                if (自己連續發言旗桿 == 0) {
                    $("#chatStartPoint").append(`<div class="chat_message_wrapper chat_message_right">
                                            <div class="chat_user_avatar">
                                                    <img   src="${PictureForMessage}" class="md-user-image">
                                            </div>
                                            <ul class="chat_message messagesListForClient">
                                            </ul>
                                        </div>`);

                    $("ul.messagesListForClient:eq(-1)").append(li);
                    自己連續發言旗桿 = 1;
                    對方連續發言旗桿 = 0;
                    adrBarRecords.animate({ scrollTop: adrBarRecords[0].scrollHeight }, 1000);
                }
                else {
                    $("ul.messagesListForClient:eq(-1)").append(li);
                    對方連續發言旗桿 = 0;
                    adrBarRecords.animate({ scrollTop: adrBarRecords[0].scrollHeight }, 1000);
                }
            }

            else {
                if ($("#user_member").val() == 16)//if LoginAccount == admin
                {
                    if (對方連續發言旗桿 == 0) {
                        $("#chat").append(`<div class="chat_message_wrapper ">
                        <div class="chat_user_avatar">
                                <img   src="${PictureForMessage}" class="md-user-image ">
                        </div>
                        <ul class="chat_message messagesListForAdmin" >
                        </ul>
                    </div>`);

                        $("ul.messagesListForAdmin:eq(-1)").append(li);
                        對方連續發言旗桿 = 1;
                        自己連續發言旗桿 = 0;
                        adrBarRecords.animate({ scrollTop: adrBarRecords[0].scrollHeight }, 1000);
                    }
                    else {
                        $("ul.messagesListForAdmin:eq(-1)").append(li);
                        自己連續發言旗桿 = 0;
                        adrBarRecords.animate({ scrollTop: adrBarRecords[0].scrollHeight }, 1000);
                    }
                }

                if (adrMemberIDForChat != 16) {
                    return;
                }

                if (對方連續發言旗桿 == 0) {
                    $("#chatStartPoint").append(`<div class="chat_message_wrapper ">
                        <div class="chat_user_avatar">
                                <img   src="${PictureForMessage}" class="md-user-image ">
                        </div>
                        <ul class="chat_message messagesListForAdmin" >
                        </ul>
                    </div>`);

                    $("ul.messagesListForAdmin:eq(-1)").append(li);
                    對方連續發言旗桿 = 1;
                    自己連續發言旗桿 = 0;
                    adrBarRecords.animate({ scrollTop: adrBarRecords[0].scrollHeight }, 1000);
                }
                else {
                    $("ul.messagesListForAdmin:eq(-1)").append(li);
                    自己連續發言旗桿 = 0;
                    adrBarRecords.animate({ scrollTop: adrBarRecords[0].scrollHeight }, 1000);
                }
            }


        });
        // 群組訊息接收事件

        connection.start().then(function () {
            document.getElementById("sendButtonMessage").disabled = false;

        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>

    <script>
        //加入群組
        document.getElementById("addClass").addEventListener("click", function (event) {
            var username = $("#adrLoginNameNow").val();
            var groupName = $("#user_member").val();
            connection.invoke("AddGroup", groupName, username).catch(function (err) {
                //console.log('觸發後端失敗')
                return console.error(err.toString());
            });
            event.preventDefault();
        });
        //加入群組
    </script>
    <script>
        // 群組訊息Button事件
        document.getElementById("sendButtonMessage").addEventListener("click", function (e) {
            var groupName = $("#user_member").val();
            var username = $("#adrLoginNameNow").val();
            var message = document.getElementById("messageInput").value;
            var adrfoto = $("#user_foto").val();
            var adrMemberIDForChat = parseInt($("#user_member").val());
            console.log(message);
            if (message == "") {
                window.alert('請輸入內容');
                return;
            }
            //console.log("傳送成功");
            connection.invoke("SendMessageToGroup", groupName, username, message, adrfoto, adrMemberIDForChat).catch(function (err) {
                //console.log("傳送失敗")
                return console.error(err.toString());
            });
        });
        // 群組訊息Button事件
    </script>

    <script type="text/javascript">
        var flagForChatRoomSwitch = 1;
        $(function () {


            $("#addClass").click(function () {

                if (member_No == "") {
                    window.alert("請先登入會員");
                    window.location.assign("/ShoppingCart/CurrentCartItem");
                    return;
                }

                if (flagForChatRoomSwitch == 1) {
                    $('#sidebar_secondary').addClass('popup-box-on');
                    flagForChatRoomSwitch = 0;
                    adrBarRecords.animate({ scrollTop: adrBarRecords[0].scrollHeight }, 0);//scroll to the bottom
                } else {
                    $('#sidebar_secondary').removeClass('popup-box-on');
                    flagForChatRoomSwitch = 1;
                }

            });

            $("#removeClass").click(function () {
                $('#sidebar_secondary').removeClass('popup-box-on');
                flagForChatRoomSwitch = 1;
            });


        })
    </script>
    <script>
        let member_No = $("#user_member").val();
        let users_cart_No = "cart" + member_No;   //依登入的會員改變localstorage的Key值
        setInterval(function () {
            if (users_cart_No == "") {
                return;
            }
            let pdtcart_obj = JSON.parse(localStorage.getItem(users_cart_No));
            let price = 0;
            if (pdtcart_obj == null) {
                $("#ItemMoneyTop").html('$' + price);
                $("#itemMoney").html('$' + price);
                return;
            }
            for (let i = 0; i < pdtcart_obj.length; i++) {
                price += (pdtcart_obj[i].cPrice * pdtcart_obj[i].QuantityInCart);
            }
            $("#wu_cartItem_count").text(pdtcart_obj.length);
            $("#ItemMoneyTop").html('$' + price);
            $("#itemMoney").html('$' + price);
            /*  console.log(price);*/
        }, 500);

    </script>

    <script>
        $.ajax({
            url: "/HomePage/BCheckLogin",
            type: "POST",
            async: false,
            success: function (data) {
                if (data == true) {
                    @*var aa = "@UserLoginImgForPage";
                    aa.replace('~', '');
                    console.log(aa);
                    UserImg = `<img width="20" height="20" src="${aa}" alt="">`*@

                    @*var thispicForMember = @UserLoginImgForPage;
                    console.log(thispicForMember)
                    console.log(thispicForMember.replace('~', ''))
                 //var UserImg=`<img width="20" height="20" src="${thispicForMember.replace('~', '')}" alt="">`;
                 UserImg = `<img src="${thispicForMember.replace('~', '')}" width="20" height="20"/>`;*@
                    LogInTxt = `<a href="/Member/MemberCenter" id="getLoginName"><i class="fa fa-user"></i>@UserLoginNameForPage</a>`
                    LogOutTxt = `<input type="button" class="btn btn-light"  onclick="登出();" id="sendButton" style="padding:0;height:100%" value="登出" />`
                    //$("divUserImg").html(UserImg);
                    $("#divLogin").html(LogInTxt);
                    $("#divLogOut").html(LogOutTxt);
                    return "1";
                }
                else if (data == "isAdm") {
                    LogInTxt = `<a href="/Member/MemberCenter" id="getLoginName"><i class="fa fa-user"></i>@UserLoginNameForPage</a>`
                    LogOutTxt = `<input type="button" class="btn btn-light"  onclick="登出();" id="sendButton" style="padding:0;height:100%" value="登出" />`
                    AdmTxt = `<a href="/Home/Index"><i class="fa fa-user"></i> 後台管理</a>`
                    $("#divLogin").html(LogInTxt);
                    $("#divLogOut").html(LogOutTxt);
                    $("#admOnly").html(AdmTxt);
                    return "9"
                }
                else {
                    LogInTxt = `<a href="/HomePage/登入" id="getLoginName "><i class="fa fa-user"></i>@UserLoginNameForPage</a>`

                    //$("divUserImg").html();
                    $("#divLogin").html(LogInTxt);
                    $("#divLogOut").html();
                    return "0"
                }
                }//.then(function (cwc_checStates) {
                //    console.log(cwc_checStates)
                //})
            }
        );
    </script>
    <script>
        function 登出() {

            $.ajax({
                url: "/HomePage/SLogout",
                type: "POST",
                success: function (data) {
                    window.alert(data);
                    window.location.assign("Home");
                }
            })
        }
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
