@model BuyFood_Template.ViewModels.CProductViewModel

@{
        ViewData["Title"] = "Create";

    }

@{
    Layout = "_LayoutAd";
}


<div>
    <h1>產品新增</h1>
</div>

<div class="ibox-title" style="padding-top:50px">
    @Html.ActionLink("返回產品列表", "List", new { }, new { @class = "btn btn-success" })
  
    <input type="button" class="btn btn-primary" value="Demo"  
           onclick="(function () {
    document.getElementById('CProductName').value = '淡定紅茶'
    document.getElementById('CPrice').value = '45'
    document.getElementById('CQuantity').value = '150'
    document.getElementById('CQuantityControl').value = '200'
    document.getElementById('CFinishedTime').value = '2'
    document.getElementById('CDescription').value = '淡定紅茶是一則網路迷因，發文者自稱源於法國某大學論壇張貼，以旁觀者角度敘述的情侶分手故事，網上論壇轉載的名為「這是什麼分手擂台的劇情」。'
   


                    })()" />
</div>
<script>
    //function product() {
    //    document.getElementById("#CProductName").value = "123";
    //}

</script>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label class="control-label">產品種類</label>
                <select asp-for="CCategoryId" class="form-control" id="p產品類別下拉選單"></select>
            </div>
            <div>
                <label class="control-label">產品狀況</label>
                <select asp-for="CIsOnSaleId" class="form-control" id="p產品販售狀況下拉選單"></select>
            </div>
            @*<div>
            產品類別
            @Html.DropDownListFor(m => m.CategoryIdComBox回傳, Model.CcategoryComBox, new { @class = "form-control" })
        </div>
            <div>
            販售時段
            @Html.DropDownListFor(m => m.CEatTimeIdComBox回傳, Model.CEatTimeIdComBox, new { @class = "form-control" })
        </div>
            <div>
                產品狀況
                @Html.DropDownListFor(m => m.CIsOnSaleIdComBox回傳, Model.CIsOnSaleIdComBox, new { @class = "form-control" })
            </div>*@

            <div class="form-group">
                <label asp-for="CProductName" class="control-label"></label>
                <input asp-for="CProductName" id="CProductName" class="form-control" />
                <span asp-validation-for="CProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPrice" class="control-label"></label>
                <input asp-for="CPrice" class="form-control" />
                <span asp-validation-for="CPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CQuantity" class="control-label"></label>
                <input asp-for="CQuantity" class="form-control" />
                <span asp-validation-for="CQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CQuantityControl" class="control-label"></label>
                <input asp-for="CQuantityControl" class="form-control" />
                <span asp-validation-for="CQuantityControl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CDescription" class="control-label"></label>
                <input asp-for="CDescription" class="form-control" />
                <span asp-validation-for="CDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CFinishedTime" class="control-label"></label>
                <input asp-for="CFinishedTime" class="form-control" />
                <span asp-validation-for="CFinishedTime" class="text-danger"></span>
            </div>


            @{var getProductTageIdval = Model.CProductTagId; }
            <input type="text" id="getProductTageId" hidden value="@getProductTageIdval" />
            <div>
                <label asp-for="CProductTagId" class="control-label"></label>
                <select asp-for="CProductTagId" class="form-control" id="p產品Tag下拉選單"></select>
            </div>
            <script>
                var producttagval = $("#getProductTageId").val();
                console.log(producttagval);
            </script>


            <div class="form-group">
                <label asp-for="CIsBreakFast" class="control-label"></label>
                <select class="form-control" asp-for="CIsBreakFast">
                    <option value="1">販售</option>
                    <option value="0">不販售</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CIsLunch" class="control-label"></label>
                <select class="form-control" asp-for="CIsLunch">
                    <option value="1">販售</option>
                    <option value="0">不販售</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CIsDinner" class="control-label"></label>
                <select class="form-control" asp-for="CIsDinner">
                    <option value="1">販售</option>
                    <option value="0">不販售</option>
                </select>
            </div>
            <div>
                <label for="file-upload" class="custom-file-upload">
                    新增照片 <img src="~/Images/上傳.png" width="80" height="80" />
                </label>
                <input id="file-upload" name="Image" type="file" style="display:none" />
            </div>

            <div class="form-group">
                <input type="submit" value="開始新增" class="btn btn-primary" />
            </div>
        </form>
    </div>


    <script>
        $.ajax({
            url: "/cProduct/getAllProductCategory",
            type: "Get",
            success: function (data) {
                /*                console.log(data)*/
                txt = "";

                for (let i = 0; i < data.length; i++) {
                    txt += `<option value="${data[i].cProductCategoryId}">${data[i].cCategoryName}</option>`
                }
                document.getElementById("p產品類別下拉選單").innerHTML = txt;
            }
        });


        $.ajax({
            url: "/cProduct/getAllProductOnSale",
            type: "Get",
            success: function (data) {
              /*  console.log(data)*/
                txt = "";

                for (let i = 0; i < data.length; i++) {
                    txt += `<option value="${data[i].cIsOnSaleId}">${data[i].cStatusName}</option>`
                }
                document.getElementById("p產品販售狀況下拉選單").innerHTML = txt;
            }
        });


        $.ajax({
            url: "/cProduct/getAllProductTag",
            type: "Get",
            success: function (data) {
                /* console.log(data)*/
                txt = "";

                for (let i = 0; i < data.length; i++) {
                    txt += `<option value="${data[i].cProductTagId}">${data[i].cProductTagName}</option>`
                }
                document.getElementById("p產品Tag下拉選單").innerHTML = txt;
              
            }
        });



    </script>

</div>


