@{
    Layout = "_LayoutAd";
}
@model IEnumerable<BuyFood_Template.ViewModels.CProductViewModel>

@{
    ViewData["Title"] = "List";
    //Layout = null;

}

@{

    擺腹BuyFoodContext db = new 擺腹BuyFoodContext();
}


<h1>產品檢視</h1>
<form method="post">
    <h2>關鍵字查詢</h2> <input type="text" name="pkeyword" /><input type="submit" value="送出" />
</form>

<h2>類別查詢</h2>
<select id="p產品下拉選單"></select>

<form method="post">
    <input type="hidden" name="pkeyword2" id="p產品類別輸出" /><input type="submit" value="查詢">
    <script>
        $("#p產品下拉選單").click(function () {
            //console.log($('#p產品下拉選單 option:selected').val());
            aa = $('#p產品下拉選單 option:selected').val();
            $("#p產品類別輸出").attr("value", aa);
        })
    </script>
</form>





<head>
    <style>
        #mwt_mwt_slider_scroll {
            top: 300px;
            left: -230px;
            width: 230px;
            position: absolute;
            z-index: 1; /*優先級*/
        }

        #mwt_slider_content {
            background: #3c5a98;
            text-align: center;
            padding-top: 20px;
            position: relative;
        }


        #mwt_fb_tab {
            position: absolute;
            top: 20px;
            right: -24px;
            width: 24px;
            background: #3c5a98;
            color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding: 9px 0;
            -moz-border-radius-topright: 10px;
            -moz-border-radius-bottomright: 10px;
            -webkit-border-top-right-radius: 10px;
            -webkit-border-bottom-right-radius: 10px;
        }

            #mwt_fb_tab span {
                display: block;
                height: 12px;
                padding: 1px 0;
                line-height: 30px;
                text-transform: uppercase;
                font-size: 30px;
            }
    </style>

</head>

<div>
    <div id="mwt_mwt_slider_scroll">
        <div id="mwt_fb_tab">
            <p>商</p>
            <p>品</p>
            <p>種</p>
            <p>類</p>



        </div>
        <div id="mwt_slider_content">
            <p>麵食</p>
            <p>飯食</p>
            <p>飲品</p>
            <p></p>
        </div>
    </div>

</div>







<script @*type="text/javascript"*@>
    $(function () {
        var w = $("#mwt_slider_content").width();
        $("#mwt_slider_content").css("height", ($(window).height() - 20) + "px"); //將區塊自動撐滿畫面高度

        $("#mwt_fb_tab").mouseover(function () { //滑鼠滑入時
            if ($("#mwt_mwt_slider_scroll").css('left') == '-' + w + 'px') {
                $("#mwt_mwt_slider_scroll").animate({ left: '0px' }, 600, 'swing')
            }
        });


        $("#mwt_slider_content").mouseleave(function () {　//滑鼠離開後
            $("#mwt_mwt_slider_scroll").animate({ left: '-' + w + 'px' }, 600, 'swing');
        });
    });

</script>



<script>
    var abc;
    $.ajax({
        url: "/Product/CheckAccount",
        type: "Get",
        success: function (data) {
            //abc = data.split(",");
            txt = "";
            console.log(data);
            for (let i = 0; i < data.length; i++) {
                txt += "<option value='" + data[i].cProductCategoryId + "'>" + data[i].cCategoryName + "</option>";
            }
            document.getElementById("p產品下拉選單").innerHTML = txt;
        }
    });

</script>

@*以下開始修改*@

@*<div class="page-heading">
        <div class="row page-title">
            <div class="col-lg-3 col-md-6">
                <a onclick="">
                    <div class="ibox bg-success color-white widget-stat">
                        <div class="ibox-body">
                            <h2 class="m-b-5 font-strong">所有活動</h2>
                            <div class="m-b-5">50</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a onclick="">
                    <div class="ibox bg-info color-white widget-stat">
                        <div class="ibox-body">
                            <h2 class="m-b-5 font-strong">輪播中</h2>
                            <div class="m-b-5">5</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <a onclick="">
                    <div class="ibox bg-warning color-white widget-stat">
                        <div class="ibox-body">
                            <h2 class="m-b-5 font-strong">進行中</h2>
                            <div class="m-b-5">14</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>*@

<div class="ibox" style="z-index:0">
    <div class="ibox-head">
        <div class="ibox-title">
            <a class="btn btn-danger btn-rounded" onclick="">刪除多筆</a>
            <a asp-controller="product" asp-action="create" class="btn btn-primary  btn-rounded" onclick="">新增產品</a>
            <a asp-controller="product" asp-action="ListCategory" class="btn btn-primary  btn-rounded" onclick="">新增類別</a>
            @*<a class="btn btn-Silver btn-rounded" onclick="">取消</a>*@
        </div>
    </div>

    <div class="ibox-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th width="50px">
                            <label class="ui-checkbox">
                                <input type="checkbox" id="chElt" onclick="checkOrCancelAll();">
                                <span class="input-span"></span>
                            </label>
                        </th>
                        <th>
                            序
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CCategoryId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CPicture)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CQuantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CIsOnSaleId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CDescription)
                        </th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{int count = 0; }
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>
                                <label class="ui-checkbox">
                                    <input type="checkbox" name="interest">
                                    <span class="input-span"></span>
                                </label>
                            </td>
                            <td>@count</td>
                            <td>
                                @{
                                    var p = db.TProductCategories.Where(n => n.CProductCategoryId == item.CategoryIdComBox回傳).Select(n => n.CCategoryName).FirstOrDefault();
                                }
                                @p
                                @*@Html.DisplayFor(modelItem=>item.CCategoryId)*@
                            </td>
                            <td>
                                <img src="@Url.Content(item.CPicture)" width="200" height="240" /><br />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CIsOnSaleId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CDescription)
                            </td>
                            <td>
                                @Html.ActionLink("修改", "Edit", new { id = item.CProductId }, new { @class = "btn btn-success" }) |

                                @Html.ActionLink("刪除", "Delete", new { id = item.CProductId }, new { @class = "btn btn-danger" })
                            </td>
                            <td>
                                <button class="btn btn-default btn-xs m-r-5" onclick="@Url.ActionLink("修改", "Edit", new { id = item.CProductId })"><i class="fa fa-pencil font-14"></i></button>
                                <button class="btn btn-default btn-xs" onclick="clickLink('@Url.Action("ActionName", "ControllerName", new{ /*routeValue*/ })')"><i class="fa fa-trash font-14"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- BEGIN PAGA BACKDROPS-->
<div class="sidenav-backdrop backdrop"></div>
<div class="preloader-backdrop">
    <div class="page-preloader">Loading</div>
</div>
<!-- END PAGA BACKDROPS-->
<script src="~/assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>

<script>
    function checkOrCancelAll() {
        //1.獲取checkbo的元素對象
        var chElt = document.getElementById("chElt");
        //2.獲取選中狀態
        var checkedElt = chElt.checked;
        console.log(checkedElt)
        //3.若checked=true,將所有的復選框選中,checked=false,將所有的復選框取消
        var allCheck = document.getElementsByName("interest");
        //4.循環遍歷取出每一個復選框中的元素
        //var mySpan=document.getElementById("mySpan");
        if (checkedElt) {
            //全選
            for (var i = 0; i < allCheck.length; i++) {
                //設置復選框的選中狀態
                allCheck[i].checked = true;
            }
            //mySpan.innerHTML="取消全選";
        } else {
            //取消全選
            for (var i = 0; i < allCheck.length; i++) {
                allCheck[i].checked = false;
            }
            //mySpan.innerHTML="全選";
        }
    };
</script>