@{
    Layout = "_LayoutAd";
}
@model IEnumerable<BuyFood_Template.ViewModel.MemberManagementViewModel>
<link href="~/assets/NEW CSS/NEWCSS.css" rel="stylesheet" />
<link href="~/assets/NEW CSS/page.css" rel="stylesheet" />

<div class="box-module">
    <div class="box-title">會員分類</div>
    <div class="box-content padding15">
        <a href="#" onclick="Member('All')">
            <div class="clearfix col-xs-6 col-sm-2 padding5">
                <div class="statusbox bg-green">
                    <div class="status_amount">@ViewBag.All</div>
                    <div class="status_name bg_color_green">所有會員人數</div>
                </div>
            </div>
        </a>
        <a href="#" onclick="Member('male')">
            <div class="clearfix col-xs-6 col-sm-2 padding5">
                <div class="statusbox bg-red">
                    <div class="status_amount">@ViewBag.male </div>
                    <div class="status_name bg_color_red">男性會員人數</div>
                </div>
            </div>
        </a>
        <a href="#" onclick="Member('female')">
            <div class="clearfix col-xs-6 col-sm-2 padding5">
                <div class="statusbox bg-azure">
                    <div class="status_amount">@ViewBag.female</div>
                    <div class="status_name bg_color_azure">女性會員人數</div>
                </div>
            </div>
        </a>
        <a href="#" onclick="Member('deposit')">
            <div class="clearfix col-xs-6 col-sm-2 padding5">
                <div class="statusbox bg-orange">
                    <div class="status_amount"> @ViewBag.deposit</div>
                    <div class="status_name bg_color_orange">已儲值</div>
                </div>
            </div>
        </a>
        <a href="#" onclick="Member('Undeposited')">
            <div class="clearfix col-xs-6 col-sm-2 padding5">
                <div class="statusbox bg-purple">
                    <div class="status_amount"> @ViewBag.Undeposited</div>
                    <div class="status_name bg_color_purple">未儲值</div>
                </div>
            </div>
        </a>
    </div>
</div>

@*<form method="post">
        <div class="rel">
            <a asp-action="Create" class="btn btn-primary">新增會員</a>
        </div>
    </form>*@

<div class="box-module">
    <div class="box-title" style="margin-bottom:10px">
        會員列表<a style="margin-left:30px;background-color:#8E8E8E" asp-action="Create" class="btn btn-primary">新增會員</a>
        <button onclick="sendeMail()" class="btn btn-primary">寄信</button>
        <a asp-action="downloadExcelDocument" class="btn btn-primary">下載EXCEL檔</a>
    </div>
    <div id="member">



    </div>
</div>

<!-- BEGIN PAGA BACKDROPS-->
<div class="sidenav-backdrop backdrop"></div>
<div class="preloader-backdrop">
    <div class="page-preloader">Loading</div>
</div>
<!-- END PAGA BACKDROPS-->

<script>
    function Member(str) {
        $.ajax({
            url: "/MemberManagement/jsonList?str=" + str,
            type: "GET",
            success: function (data) {
                /*console.log(data);*/
                var txttableAdmMemberList = "";
                txttableAdmMemberList +=
                    `<div>
                        <table class="table table-hover table_striped table-bordered border" id="myTable">
                            <thead>
                                <tr>
                                    <th class="align">
                                        <label class="ui-checkbox">
                                            <input type="checkbox" id="chElt" onclick="checkOrCancelAll();" value=""></input>
                                            <span class="input-span"></span>
                                        </label>
                                    </th>
                                    <th class="align">會員編號</th>
                                    <th class="align" width="6%">會員照片</th>
                                    <th class="align">會員姓名</th>
                                    <th class="align">姓別</th>
                                    <th class="align">生日</th>
                                    <th class="align">年齡</th>
                                    <th class="align">地址</th>
                                    <th class="align">電話</th>
                                    <th class="align">EMAIL帳號</th>                                    
                                    <th class="align">儲值餘額</th>
                                    <th class="align">黑名單</th>
                                    <th class="align">停權</th>
                                    <th class="align">編輯</th>
                                </tr>
                            </thead>
                          <tbody>`
                for (let i = 0; i <= data.length - 1; i++) {
                    if (data[i].cBlackList == 0) {
                        var Blackliang = `<button class="btn btn-green" onclick="blacklist(${data[i].cMemberId})">加入黑名單</button>`
                    }
                    else {
                        Blackliang = `<button class="btn btn-secondary" onclick="blacklist(${data[i].cMemberId})">解鎖黑名單</button>`
                    }

                    if (data[i].cFreezeCount == 4) {
                        var freezecountliang = `<button class="btn btn-secondary" onclick="freeze(${data[i].cMemberId})">解凍</button>`
                    }
                    else {
                        freezecountliang = `<button class="btn btn-green" onclick="freeze(${data[i].cMemberId})">凍結</button>`
                    }

                    txttableAdmMemberList +=
                        `<tr id="getTr${data[i].cMemberId}" style="text-align:center">
                            <td style="vertical-align: middle;">
                                <label class="ui-checkbox">
                                    <input value="${data[i].cMemberId}" type="checkbox" name="選中內框"></input>
                                    <span class="input-span"></span>
                                </label>
                            </td>
                            <td style="vertical-align: middle;">${data[i].cMemberId}</td>
                            <td><img src="${data[i].cPicture}" /></td>
                            <td style="vertical-align: middle;">${data[i].cName}</td>
                            <td style="vertical-align: middle;">${data[i].cGender}</td>
                            <td style="vertical-align: middle;">${data[i].cBirthday}</td>
                            <td style="vertical-align: middle;">${data[i].cAge}</td>
                            <td style="vertical-align: middle;">${data[i].cAddress}</td>
                            <td style="vertical-align: middle;">${data[i].cPhone}</td>
                            <td style="vertical-align: middle;">${data[i].cEmail}</td>
                            <td style="vertical-align: middle;">${data[i].cDeposit}</td>
                            <td style="vertical-align: middle" id="c黑名單${data[i].cMemberId}">${Blackliang}</td>
                            <td id="c凍結${data[i].cMemberId}">${freezecountliang}</td>
                            
                            <td style="vertical-align: middle">                            
                            <a class="btn btn-outline-success" href="/MemberManagement/Edit?id=${data[i].cMemberId}"><i class="fa fa-pencil font-18">修改</i></a>
                            <a class="btn btn-outline-danger" href="/MemberManagement/Delete?id=${data[i].cMemberId}" onclick="return confirm('確定要刪除嗎?')"><i class="fa fa-trash font-18">刪除</i></a>                            
                            <button class="btn btn-outline-info" onclick="order(${data[i].cMemberId})"><i class="fa fa-edit font-18">訂單明細</i></button>
                                    </td>
                                </tr >`
                }
                txttableAdmMemberList += ` </tbody >
                        </table >
                    </div >`

                $("#member").html(txttableAdmMemberList);
                $('#myTable').DataTable({
                    language: {
                        "emptyTable": "無資料...",
                        "processing": "處理中...",
                        "loadingRecords": "載入中...",
                        "lengthMenu": "每頁 _MENU_ 筆資料",
                        "zeroRecords": "無搜尋結果",
                        "info": "_START_ 至 _END_ / 共 _TOTAL_ 筆",
                        "infoEmpty": "尚無資料",
                        "infoFiltered": "(從 _MAX_ 筆資料過濾)",
                        "infoPostFix": "",
                        "search": "搜尋字串:",
                        "paginate": {
                            "first": "首頁",
                            "last": "末頁",
                            "next": "下頁",
                            "previous": "前頁"
                        },
                        "aria": {
                            "sortAscending": ": 升冪",
                            "sortDescending": ": 降冪"
                        }
                    }
                });

                //$("#myTable_length").append(`<label id="btndelete" style = "display:none"><button class="btn button_btn btn-danger" onclick="deletemore();">刪除選中</button></label>`);            
                $("#myTable input[name=選中內框]").change(function Submit() {
                    var val = $(this).val();
                    //console.log(val);

                    //var selectFalse = false; //用于判断是否被选择条件                    
                    //var checkBox = $('input[name=選中內框]'); //得到所有的復選框               
                    //for (var i = 0; i < checkBox.length; i++) {

                    //    if (checkBox[i].checked) {
                    //        selectFalse = true;
                    //    }
                    //}
                                                      
                    //if (selectFalse) {
                    //    $("#btndelete").show();
                    //} else {
                    //    $("#btndelete").hide();
                    //}
                }
                )

            }
        })
    }
    
    //↓checkBox全選功能
    function checkOrCancelAll() {
        //1.獲取checkbo的元素對象
        var chElt = document.getElementById("chElt");
        //2.獲取選中狀態
        var checkedElt = chElt.checked;   
        //3.若checked=true,將所有的復選框選中,checked=false,將所有的復選框取消
        var allCheck = document.getElementsByName("選中內框");
        //4.循環遍歷取出每一個復選框中的元素        
        //var mySpan=document.getElementById("mySpan");
        if (checkedElt) {
            //全選
            for (var i = 0; i < allCheck.length; i++) {
                allCheck[i].checked = true;//設置復選框的選中狀態
            }
            //$("#btndelete").show();
            //mySpan.innerHTML="取消全選";
        }
        else {
            for (var i = 0; i < allCheck.length; i++) {
                allCheck[i].checked = false;//取消全選
            }
            //$("#btndelete").hide();
            //mySpan.innerHTML="全選";
        }
    };

    //全選刪除
    //function deletemore() {
    //    var checked = $("#myTable input[type=checkbox]:checked");
    //    for (let i = 0; i < checked.length; i++) {
    //        console.log(checked[i].value);
    //        $.ajax({
    //            url: "/yuActivity/ActionDelete?id=" + checked[i].value,
    //            type: "GET",
    //            success: function () {   //請求成功後執行的操作
    //                window.location.reload();
    //            }
    //        });
    //    }
    //}
    function sendeMail() {
        var checked = $("#myTable input[type=checkbox]:checked");
        for (let i = 0; i < checked.lenght; i++) {
            console.log(checked[i].value);
            $.ajax({
                url: "/MemberManagement/sendEmail",
                data: { mailtoAddress: checked[i].cEmail, mailtoName: checked[i].cName, subject: "測試信", body:"test" },
                type: "POST",                
                success: function (data) {
                    console.log("發信成功");                    
                    $("#").html(data);
                },
                error: function (message) {
                    alert("error" + message);
                }

            })
        }    
    }


    /*進入此頁面執行*/
    $(Member("All"));
</script>
<script>
    function blacklist(id) {
        $.ajax({
            url: "/MemberManagement/changeblacklist?id=" + id,
            type: "Get",
            success: function (data) {
                console.log(data);
                //console.log("id="+id)
                if (data == true) {                                                         
                    $("#c黑名單" + id).html(`<button class="btn btn-secondary" onclick="blacklist(${id})">解鎖黑名單</button>`);
                }
                else {                 
                    $("#c黑名單" + id).html(`<button class="btn btn-green" onclick="blacklist(${id})">加入黑名單</button>`);
                }
            }
        })
    }

    function freeze(id) {
        $.ajax({
            url: "/MemberManagement/changefreeze?id=" + id,
            type: "Get",
            success: function (data) {
                console.log(data);
                if (data == true) {
                    $("#c凍結" + id).html(`<button class="btn btn-secondary" onclick="freeze(${id})">解凍</button>`);
                }
                else {
                    $("#c凍結" + id).html(`<button class="btn btn-green" onclick="freeze(${id})">凍結</button>`);
                }
          
            }
        })
    }

    function order(str) {
        $.ajax({
            url: `/MemberManagement/detail?id=${str}`,
            type: "POST",
            success: function (data) {
                var txtOrdertable = "";
                txtOrdertable +=
                    `<div>
                    <table class="table table-hover table_striped table-bordered border" id="table">
                        <thead>
                            <tr>
                                <th class="align">會員姓名</th>
                                <th class="align">訂單編號</th>
                                <th class="align">訂單地址</th>
                                <th class="align">訂單日期</th>
                                <th class="align">運送時間</th>
                            </tr>
                        </thead>
                        <tbody>`

                for (let i = 0; i <= data.length - 1; i++) {
                    txtOrdertable +=
                        `<tr>
                        <td>${data[i].cName}</td>
                        <td>${data[i].cOrderId}</td>
                        <td>${data[i].cArrivedAddress}</td>
                        <td>${data[i].cOrderDate}</td>
                        <td>${data[i].cTransportMinute}</td>
                        </tr>`
                }
                txtOrdertable +=
                    `</tbody>
                </table>
             </div>`
                $("#member").html(txtOrdertable);
                $('#table').DataTable({
                    language: {
                        "emptyTable": "無資料...",
                        "processing": "處理中...",
                        "loadingRecords": "載入中...",
                        "lengthMenu": "每頁 _MENU_ 筆資料",
                        "zeroRecords": "無搜尋結果",
                        "info": "_START_ 至 _END_ / 共 _TOTAL_ 筆",
                        "infoEmpty": "尚無資料",
                        "infoFiltered": "(從 _MAX_ 筆資料過濾)",
                        "infoPostFix": "",
                        "search": "搜尋字串:",
                        "paginate": {
                            "first": "首頁",
                            "last": "末頁",
                            "next": "下頁",
                            "previous": "前頁"
                        },
                        "aria": {
                            "sortAscending": ": 升冪",
                            "sortDescending": ": 降冪"
                        }
                    }
                });


            }
        })
    }
</script>
  





