@{
    Layout = "_LayoutAd";
}
@model IEnumerable<BuyFood_Template.ViewModels.MemberManagementViewModel>
@{
    ViewData["Title"] = "會員管理系統";
}
<p><h1>會員資料表</h1></p>

<form method="post">
    <div class="rel">
        <a asp-action="Create" class="btn btn-primary">新增會員</a>
        <span class="search-icon"><i class="ti-search"></i></span>
        <label><input type="text" name="keyword" class="form-control form-control-sm" /></label> <input type="submit" value="查詢" />
    </div>
</form>

<div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">會員列表</div>
    </div>
    <div class="ibox-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="10px"></th>
                        <th>序</th>
                        <th>會員姓名</th>
                        <th>Email</th>
                        <th>密碼</th>
                        <th>姓別</th>
                        <th>地址</th>
                        <th>黑名單</th>
                        <th>儲值餘額</th>
                        <th>電話</th>
                    </tr>
                </thead>

                <tbody>
                    @{int count = 0; }
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>
                                <label class="ui-checkbox">
                                    <input type="checkbox">
                                    <span class="input-span"></span>
                                </label>
                            </td>

                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPassword)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CGender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CBlackList)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CDeposit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPhone)
                            </td>
                            <td>
                                @Html.ActionLink("修改", "Edit", new { id = item.CMemberId }, new { @class = "btn btn-success" })
                                @Html.ActionLink("刪除", "Delete", new { id = item.CMemberId },
                                    new
                                         {
                                             onclick = "return confirm('確定要刪除嗎?')",
                                          Class = "btn btn-danger"
                                         })
                            </td>
                            <td>
                                <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil font-14"></i></button>
                                <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash font-14"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*以下為原本程式碼*@
@*<table class="table">
        <thead>
            <tr>
                <th>序</th>
                <th>會員姓名</th>
                <th>Email</th>
                <th>密碼</th>
                <th>姓別</th>
                <th>地址</th>
                <th>黑名單</th>
                <th>儲值餘額</th>
                <th>電話</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{int count = 0; }
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPassword)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CGender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CBlackList)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CDeposit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPhone)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.CMemberId }, new { @class = "btn btn-success" })
                        @Html.ActionLink("刪除", "Delete", new { id = item.CMemberId },
                            new
                                 {
                                     onclick = "return confirm('確定要刪除嗎?')",
                                  Class = "btn btn-danger"
                                 })
                    </td>
                </tr>
            }
        </tbody>
    </table>*@


