@model BuyFood_Template.Models.TProduct
@using Newtonsoft.Json;
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<link href="~/YUYUYU/CSS/產品顯示星星.css" rel="stylesheet" />
<!-- Page Preloder -->
<!-- Header Section End -->
<!-- Breadcrumb Section Begin -->
<input id="getid" style="display:none" value="@Model.CProductId" />
<section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/img/breadcrumb.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>精選美食</h2>
                    <div class="breadcrumb__option">

                        <span>Buy Food</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" id="pdtImage" src="@Url.Content(Model.CPicture)" style="height:436px">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3 id="pdtName">@Model.CProductName</h3></span>

                    @*右邊星星+幾筆留言*@
                    <div  class="product__details__rating" id="productstert"></div>


                    <div id="pdtPrice" class="product__details__price">$@Convert.ToDecimal(Model.CPrice).ToString("0,#")</div>
                    <p>
                        @Model.CDescription
                    </p>
                    <div class="product__details__quantity" id="smelltitle">
                        <div class="quantity" id="btu_check_stock">
                            <div class="pro-qty">
                                <span class="dec qtybtn" onclick="decbtn()">-</span>
                                <input onchange="ChangeQuantity()" id="productcount" type="text" value="1">
                                <span class="dec qtybtn" onclick="incbtn()">+</span>
                            </div>
                        </div>
                    </div>
                    @*<input type="button" class="primary-btn" onclick="addCart(@Model.CProductId)" id="btn_check_stock" value="加入購物車">*@
                    @*<a id="smelltitle" href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>*@

    @*小標題*@


</div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true" style="font-size:40px;">商品評價 </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <div class="product-rating-overview" style="margin-bottom:60px">

                                    @*星星*@
                                    <div style=" width: 100%; height: 70px;margin: auto; text-align: center;padding-bottom:20px;">

                                        @*下方按鈕旁星星*@
                                        <div style="float:left;width: 30%;height: 100%;" id="Bigstert"> </div>

                                        @*星星按鈕*@
                                        <div id="btnstar"></div>

                                    </div>
                                </div>



                                @*留言區*@
                                <div id="proBoards"></div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="maybe_like" class="section-title related__product__title">
                    <h2>您 可 能 也 喜 歡 的 類 型 </h2>
                </div>
            </div>
        </div>

        @*底頁加入相同風格*@
        <div class="row" id="hot_product"></div>

    </div>
</section>
<!-- Related Product Section End -->
<!-- Js Plugins -->

<script src="~/YUYUYU/JS/產品詳細版面.js"></script>
<script src="~/YUYUYU/JS/按愛心加入購物車.js"></script>
<script src="~/YUYUYU/JS/留言內容.js"></script>
<script src="~/YUYUYU/JS/商品詳細頁面功能.js"></script>




